:root {
    --gradient: linear-gradient(45deg,
        rgb(255, 254, 246),
        rgb(255, 254, 236), 
        rgb(255, 253, 232),
        rgb(252, 249, 214), 
        rgb(255, 252, 204)
    );
}
.cards {
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    justify-content: center;
    
    
}
.quoteForm {
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    justify-content: center;
}
.commentForm {
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    justify-content: center;
}
.navBar {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}
body{
    background-color: rgb(255, 254, 236);
    min-height: 100vh;
    background-image: var(--gradient);
    background-size: 300%;
    animation: newBackground 10s infinite alternate;
}
@keyframes newBackground {
    0% {background-position: left;}
    100%{background-position: right;}
}