.cards {
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    justify-content: center;
    
    
}
.quoteForm {
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
    justify-content: center;
}
.navBar {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}